body{
 font-size: 2rem;
 margin: 0;
 padding: 0;
 flex-wrap: wrap;
 position: absolute;
 overflow-x: hidden;
}

html{
 font-size: 62.5%;
}

h1{
 text-transform: capitalize;
 top: 0;
 margin: 2rem;
 position: absolute;
}

h2{
 text-transform: capitalize;
 font-size: 2rem;
 font-weight: 800;
 margin: 2rem;
}

.cats-form{
 display: flex;
}

.container{
 width: 100vw;
 padding: 10rem;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #fad0c4;
 flex-direction: row;
 gap: 3rem;
}

#num-cats{
 border: 1px solid black;
 padding: 2rem 9rem;
 font-size: 2rem;
 border-radius: 8px;
 text-decoration: italic;
}

#img-cats{
 border: 1px solid black;
 padding: 2rem 9rem;
 font-size: 2rem;
 border-radius: 8px;
 text-decoration: italic;
}

#num-cats::placeholder{
 color: #c599b6;
 font-style: oblique;
}

#img-cats::placeholder{
 color: #c599b6;
 font-style: oblique;
}

.submit-btn{
 font-size: 2rem;
 border: 2px solid black;
 padding: 2rem;
 border-radius: 7px;
 background-color: #c599b6;
 text-transform: capitalize;
 color: #fff;
}

#facts-display{
 font-weight: bold;
 margin-top: 10px;
}

#images-display{
 margin-top: 20px;
 display: flex;
 gap: 5px;
 border-radius: 2px;
}

#spinner{
 height:100px;
 width: 100px;
 border:10px solid ;
 border-color: #c599b6 #fad0c4 #c599b6 #fad0c4;
 border-radius: 50%;
 transition: 0.3s ease-in-out;
 animation: rotate 1.5s linear infinite;
 position: relative;
 margin-left: 50%;
 margin-top: 2rem;
}

@keyframes rotate{
 from{
  transform: rotate(0deg);
 }
 to{
  transform: rotate(360deg);
 }
}